[Desktop Entry]
Encoding=UTF-8
Name=XPlus-4 (Vice)
Comment=A Commodore Plus-4 Emulator
Exec=xplus4
Icon=plus4.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Game;Emulator;
